:root {
    --yellowText: #f8cd53;
    --maroonAccent: #782010;
    --darkMaroonAccent: #502010;
    --navyAccent: #000040;
    --grayText: #e0e0e0;
    --darkBackground: rgba(16, 16, 16, 0.95);
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--yellowText);
    margin: 0;
    padding: 0;
}

.backgroundContainer {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 1100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImg {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 1000px;
    height: 1100px;
    opacity: 0.75;
}

.redBackground {
    display: none;
}

@media (min-width: 850px) {
    .redBackground {
        display: none;
    }
    
}

.pageContents {
    background-color: var(--darkBackground);
    height: 850px;
    width: 1100px;
    margin: 225px auto 0;
}

.pageBody {
    display: flex;
    justify-content: center;
    align-items: start;
}

@media (max-width: 1100px) {

    .pageContents {
        width: 900px;
    }
    
}

@media (max-width: 850px) {

    .pageContents {
        width: 550px;
        height: fit-content;
    }

    .pageBody {
        align-items: center;
        flex-direction: column;
    }

    .redBackground {
        background-color: #5e0303;
        position: absolute;
        top: 1100px;
        width: 100%;
        height: 350px;
    }
    
}

.filtersPage {
    background-color: rgba(16, 16, 16, 0.95);
    width: 480px;
    float: left;
}

/* styling for the header */

.header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px;
}

.popcornImg {
    width: 54px;
    height: 54px;
    margin: 0 10px;
}

.title {
    width: fit-content;
    font-size: 40px;
}

/* Styling for the filter area and all filters */

.filters {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.filter {
    width: 100%;
    margin: 0 0 10px;
}

.filterCheckbox {
    display: none;
}

.filterCustomCheckbox {
    display: inline-block;
}

.filterCustomCheckbox::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font: var(--fa-font-solid);
    font-size: 14px;
    display: inline-block;
    color: #999;
}

.filterCheckbox:checked + .filterCustomCheckbox::before {
    color: #b03030;
}

.filterName {
    width: fit-content;
    margin: 0;
    display: inline-block;
    /* font-size: 1.33em; */
}

.info {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 0 0 5px;
    cursor: pointer;
}

.infoText {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #333;
    border: solid 4px #555;
    border-radius: 4px;
    color: var(--grayText);
    font-size: 14px;
    padding: 6px;
    z-index: 5;
}

.infoText p {
    margin: 0;
}

#numFilmsInfo {
    display: block;
    width: 300px;
}

.filterDropdown {
    height: 24px;
    font-size: 15px;
    background-color: var(--maroonAccent);
    border: solid 2px #777;
    border-radius: 4px;
    color: var(--grayText);
}

.filterDropdown:focus {
    border: solid 2px #c0c0c0;
    outline: none;
}

.filterText {
    /* display: block; */
    /* margin: 4px 0 0; */
    /* width: 60px; */
    height: 24px;
    background-color: var(--maroonAccent);
    border: solid 2px #777;
    border-radius: 4px;
    color: #e0e0e0;
    font-size: 15px;
    padding: 1px 4px;
}

.filterText:focus {
    border: solid 2px #c0c0c0;
    outline: none;
}

#yearSlider, #runtimeSlider {
    width: 90%;
    margin: 8px 5% 10px;
    background: var(--navyAccent);
    border: none;
}

#yearSlider .ui-slider-range, #runtimeSlider .ui-slider-range, #ratingSlider .ui-slider-range {
    background: var(--maroonAccent);
    /* border: none; */
}

#yearSlider .ui-slider-handle, #runtimeSlider .ui-slider-handle, #ratingSlider .ui-slider-handle {
    height: 20px;
    width: 40px;
    text-align: center;
    background: var(--navyAccent);
    border: 2px solid #777;
    color: var(--grayText);
    font: inherit;
    font-size: 16px;
}

/* styling for the max number of films */
.numFilms {
    height: 64px;
}

.numFilmsName {
    width: fit-content;
    margin: 0;
    display: inline-block;
}

.numFilmsText {
    display: block;
    margin: 4px 0 0;
    width: 60px;
    background-color: var(--maroonAccent);
    border: solid 2px #777;
    border-radius: 4px;
    color: var(--grayText);
}

.numFilmsText:focus {
    border: solid 2px #c0c0c0;
    outline: none;
}

.generateMovie {
    width: 100%;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generateMovieBtn {
    width: 200px;
    height: 40px;
    background-color: var(--maroonAccent);
    border: solid 2px #777;
    border-radius: 4px;
    color: var(--grayText);
    font-size: 24px;
}

/* Movie Suggestion style */

.movie-div {
    width: 424px;
    margin: 20px 5%;
    background-color: #555;
    border: 4px solid #333;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.movie {
    width: 85%;
    text-align: center;
}

#movieTitle {
    font-size: 28px;
    margin: 10px 0;
}

#moviePoster {
    display: none;
    width: 100%;
    margin: 10px 0;
}